<h1>New Artist</h1>
<form action="/artists" method="post">
  <input type="text" name="artist[name]" placeholder="Name">
  <br>
  <br>
  <label>Create a Song?</label>
  <br>
  <br>
  <input type="text" name="song[name]" placeholder="Song Name">
  <input type="text" name="song[genre]" placeholder="Song Genre">
  <input type="submit" name="submit" value="Save">
</form>
